/*nav bar */
nav {
	background-color: #c00000;
	padding: 10px;
}


.nav-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.nav-menu li {
	position: relative;
}


.nav-menu a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.2em;
	padding: 10px 15px;
	display: block;
}

.nav-menu a:hover {
	background-color: #c00000;
	border-radius: 4px;
}


.dropdown .submenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #c00000;
	list-style: none;
	padding: 0;
	margin: 0;
	border-radius: 4px;
	min-width: 150px;
	z-index: 1000;
}

.dropdown:hover .submenu {
	display: block;
}

.submenu li {
	border-bottom: 1px solid #c00000;
}

.submenu li:last-child {
	border-bottom: none;
}

.submenu a {
	color: #ffffff;
	padding: 10px 15px;
	display: block;
	font-size: 1em;
	text-align: left;
}

.submenu a:hover {
	background-color: #c00000;
	border-radius: 4px;
}


/* body*/
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
 	background-color: #ffffff;

}

h1,
h2 {
	color: #c00000;
	text-align: center;
}



/* Modules */
.modules {
	display: grid;
	grid-templh4 {
			text-align: center;
		}ate-columns: 1fr;
	gap: 1.5rem;
	padding: 0 1rem; /* Ajoute une marge latérale */
}

.module {
	background: #c00000;
	padding: 1rem; /* Réduit la marge intérieure */
	border: 1px solid #000000;
	border-radius: 8px;
	box-shadow: 8px 10px 10px 0px rgba(192, 0, 0, 0.6); /* Atténue l'ombre */
	max-width: 90%; /* Définit une largeur maximale pour la boîte */
	margin: 0 auto; /* Centre la boîte horizontalement */
}

.module h3 h4{
	margin-top: 0;
	color: #ffffff; /* Rend le titre plus lisible */
	font-size: 1.2rem; /* Réduit légèrement la taille du texte */
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: disc;
	margin-left: 1rem; /* Réduit l'indentation */
}

#li_module {
	color: #000000;
	font-size: 0.9rem; /* Réduit la taille du texte des éléments de liste */
}
h4 {
	text-align: center;
}

h4,
h3{
	color: white;
}

/*footer*/
footer {
	text-align: center;
	background: #c00000	;
	color: white;
	padding: 1rem;
	margin-top: 2rem;
}

